.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.personne-chosen{
    width: 100%;
    height: 250px;
    text-align: center;
    border: solid red 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.li-not-passed, .li-passed, div-btn-choisir{
    width: 33%;
    text-align: center;
}
body{
    background-color: rgb(16, 29, 49);
    color: white;
}

h1{
    color: rgb(212, 141, 25);
}
#btn-choisir{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: rgb(216, 4, 4);
    font-size: 26px;
    border: none;
}
.apprenant{
    height: 50px;
    transition: all .5s ease-in-out;
    border-radius: 50px;
    /* border: solid, 3px black; */
}

#img-personne-choisi{
    height: 100px;
    width: 150px;
    background-color: cadetblue;
}
